* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

header {
    border: 1px solid rgba(60, 60, 67, 0.14);
    background: rgba(246, 246, 246, 0.49);
    backdrop-filter: blur(20px);
    overflow: hidden;
}

.navbar-container {
    max-width: 1440px;
    padding: 25px 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#startAnimationButton{
    margin: 10px;
    box-shadow: 5px 4px 20px lightgray;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
}
button {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 9.59px 15.624px 9.61px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.21);
    border: 0;
    font-weight: 500;
}

.nav-button {
    display: flex;
    padding: 8px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: #F7F7F7;
}

section {
    margin: auto;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}

.message {
    color: #000;
    background-color: #f7f7f7;
    border-radius: 16px;
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.time-text{
    color: #888;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.message-section-left,
.messages-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}
.messages-container {
    max-width: 85%;
}
.message-section-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

#messages9>div,
#messages11>div,
#messages13>div {
    color: #fff;
    background-color: #444444;
}

#messages9,
#messages11,
#messages13 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.message-section-left,
.message-section-right {
    padding-right: 32%;
    padding-left: 32%;
    padding-top: 10px;
}

.framer,
.typing {
    display: none;
    gap: 10px;
    align-items: center;
}

#messageTone {
    display: none;
}

.container {
    display: flex;
    padding: 77px 0px 19px 0px;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    max-width: 480px;
    margin: auto;
}


.plans-term p {
    color: rgba(0, 0, 0, 0.48);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
}

.plans-details-2 {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: #F7F7F7;
    border-radius: 16px;
}

.plans-info-wrap {
    display: flex;
    /* width: 224px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;
}

.plan-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    flex-shrink: 0;
}

.plan-info p {
    margin: 0;
}

.plan-info .color {
    color: #D12323;
}

.plan-info .pink {
    color: #DD31CF;
}

.bg-grey {
    background: #444;
}

.color-white {
    color: white;
}

.bg-white {
    background: white;
}

.bg-lightGrey {
    background: rgba(255, 255, 255, 0.21);
}

.plans-head h2 .light-grey {
    color: rgba(255, 255, 255, 0.48);
}

.plans-term .light-grey {
    color: rgba(255, 255, 255, 0.48);
}
.chat-button {
    background: rgba(0, 0, 0, 0.08);
}
.plans-details-wrap1, .plans-details-wrap2, .plans-details-wrap3 {
    display: none;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.plans-details-1 {
    padding: 12px 16px 11.99px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.plans-head {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.plans-head h2 {
    margin: 0;
    font-weight: 500;
}

.plans-head h2 span {
    color: rgba(0, 0, 0, 0.48);
}

.plans-description p {
    font-size: 16px;
    margin: 0;
}

.plans-button {
    display: flex;
    align-items: center;
    gap: 12px;
}
.plans-button.w-inline-block{
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}
.chat-button.bg-lightGrey{
    background-image: linear-gradient(rgba(255, 255, 255, .21), rgba(255, 255, 255, .21));
    color: white;
}

@media screen and (max-width: 479px) {
    .message-section-left,
    .message-section-right {
        padding-left: 5%;
        padding-right: 5%;
    }
    .plans-details-2 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .message-section-left,
    .message-section-right {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 991px) {
    .message-section-left,
    .message-section-right {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1440px) {
    .message-section-left,
    .message-section-right {
        padding-left: 34%;
        padding-right: 34%;
    }
}
@media screen and (min-width: 1920px){
    .message-section-left,
    .message-section-right {
        padding-left: 37%;
        padding-right: 37%;
    }
}